USE [master]
GO
/****** Object:  Database [INTERNET_BANKING_DW1_3C2021]    Script Date: 12/16/2021 12:59:28 AM ******/
CREATE DATABASE [INTERNET_BANKING_DW1_3C2021]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INTERNET_BANKING_DW1_3C2021', FILENAME = N'D:\Software de C\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\INTERNET_BANKING_DW1_3C2021.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INTERNET_BANKING_DW1_3C2021_log', FILENAME = N'D:\Software de C\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\INTERNET_BANKING_DW1_3C2021_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INTERNET_BANKING_DW1_3C2021].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INTERNET_BANKING_DW1_3C2021]
GO
/****** Object:  Table [dbo].[Cuenta_Credito]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta_Credito](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoMoneda] [int] NOT NULL,
	[CodigoTarjeta] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IBAN] [varchar](22) NOT NULL,
	[Saldo] [numeric](18, 2) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[PagoMinimo] [numeric](18, 2) NOT NULL,
	[PagoContado] [numeric](18, 2) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Cuenta_Credito] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta_Debito]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta_Debito](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoMoneda] [int] NOT NULL,
	[CodigoTarjeta] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[IBAN] [varchar](22) NOT NULL,
	[Saldo] [numeric](18, 2) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Cuenta_Debito] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Fuente] [varchar](50) NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estadistica]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estadistica](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Navegador] [varchar](50) NOT NULL,
	[PlataformaDispositivo] [varchar](50) NOT NULL,
	[FabricanteDispositivo] [varchar](50) NOT NULL,
	[Vista] [varchar](50) NOT NULL,
	[Accion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estadistica] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moneda]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moneda](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](20) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Moneda] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[CodigoServicio] [int] NOT NULL,
	[CodigoTarjeta] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fechahora] [datetime] NOT NULL,
	[Monto] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](20) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesion]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesion](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Sesion] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUsuario] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Numero] [varchar](20) NOT NULL,
	[CVC] [varchar](3) NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transferencia]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transferencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CuentaOrigen] [varchar](50) NOT NULL,
	[CuentaDestino] [varchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Monto] [numeric](18, 2) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Transferencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/16/2021 12:59:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuenta_Credito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Credito_Moneda] FOREIGN KEY([CodigoMoneda])
REFERENCES [dbo].[Moneda] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Credito] CHECK CONSTRAINT [FK_Cuenta_Credito_Moneda]
GO
ALTER TABLE [dbo].[Cuenta_Credito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Credito_Tarjeta] FOREIGN KEY([CodigoTarjeta])
REFERENCES [dbo].[Tarjeta] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Credito] CHECK CONSTRAINT [FK_Cuenta_Credito_Tarjeta]
GO
ALTER TABLE [dbo].[Cuenta_Credito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Credito_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Credito] CHECK CONSTRAINT [FK_Cuenta_Credito_Usuario]
GO
ALTER TABLE [dbo].[Cuenta_Debito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Debito_Moneda] FOREIGN KEY([CodigoMoneda])
REFERENCES [dbo].[Moneda] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Debito] CHECK CONSTRAINT [FK_Cuenta_Debito_Moneda]
GO
ALTER TABLE [dbo].[Cuenta_Debito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Debito_Tarjeta] FOREIGN KEY([CodigoTarjeta])
REFERENCES [dbo].[Tarjeta] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Debito] CHECK CONSTRAINT [FK_Cuenta_Debito_Tarjeta]
GO
ALTER TABLE [dbo].[Cuenta_Debito]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Debito_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Cuenta_Debito] CHECK CONSTRAINT [FK_Cuenta_Debito_Usuario]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Usuario]
GO
ALTER TABLE [dbo].[Estadistica]  WITH CHECK ADD  CONSTRAINT [FK_Estadistica_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Estadistica] CHECK CONSTRAINT [FK_Estadistica_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Servicio] FOREIGN KEY([CodigoServicio])
REFERENCES [dbo].[Servicio] ([Codigo])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Servicio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Tarjeta] FOREIGN KEY([CodigoTarjeta])
REFERENCES [dbo].[Tarjeta] ([Codigo])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Tarjeta]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Usuario]
GO
ALTER TABLE [dbo].[Sesion]  WITH CHECK ADD  CONSTRAINT [FK_Sesion_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Sesion] CHECK CONSTRAINT [FK_Sesion_Usuario]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Usuario]
GO
USE [master]
GO
